<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="MODULE_NAME" value="instead-service-api"/>
    <springProfile name="!local">
        <property name="LOG_DIR" value="/app/log"/>
    </springProfile>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${LOG_DIR}/${MODULE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${MODULE_NAME}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>183</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%15.15t{7}] [%X{UUID}] %-40.40logger{39} : %m at %C.\(%F:%L\) %n
            </pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %green(%5p) [%15.15t{14}] [%X{UUID}] %cyan(%-40.40logger{39}) : %m %magenta(at %C).\(%F:%L\) %n
            </pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
    <springProfile name="local">
        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
</configuration>
